<div
  class="w-full max-w p-8 space-y-3 rounded-xl dark:bg-gray-50 dark:text-gray-800"
>
  <h1 class="text-5xl font-bold text-center">News Today</h1>
  <p class="text-sm text-center">
    Las noticias más recientes sobre tecnología, ciencia y otros temas.
  </p>
  <div class="max-w-screen-xl p-5 mx-auto dark:bg-gray-100 dark:text-gray-800">
    @if (pagedNews != null) {
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
      @for (item of pagedNews.content; track item.id) {
      <div
        class="relative flex items-end justify-start w-full text-left dark:bg-gray-500 bg-center bg-cover h-96"
        style="
          background-image: url('{{ item.image }}');
        "
      >
        <div
          class="absolute top-0 bottom-0 left-0 right-0 bg-transparent"
        ></div>
        <div
          class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3"
        >
          <div class="flex justify-start flex-wrap gap-1">
            @if (item.categories != null) { @for (category of item.categories;
            track category.id) {
            <a
              rel="noopener noreferrer"
              href="#"
              class="px-2 py-1 text-xs font-semibold tracking-wider uppercase text-white bg-violet-600"
              >{{ category.name }}</a
            >
            } }
          </div>
        </div>
        <div class="flex flex-col justify-start bg-white z-10 p-5">
          <h2 class="text-xl font-bold">
            <a
              [routerLink]="['/news', item.id]"
              class="hover:underline dark:text-gray-800 group-hover:underline group-focus:underline"
            >
              {{ item.title }}</a
            >
          </h2>
          <p class="text-sm">{{ item.description }}</p>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
